%table#countries-data-table.display.table.table-hover.table-dark.w-100.table-sm
  %thead
    %tr
      %th.w-12-5.text-white Country / Other
      %th.d-none.country-for-sort
      %th.d-none.country-alpha2-for-search
      %th.d-none.country-alpha3-for-search
      %th.d-none.country-unofficial-names-for-search
      %th.text-white Confirmed
      %th.text-white New Cases
      %th.text-white Deaths
      %th.text-white New Deaths
      %th.text-white Recovered
      %th.text-white Critical
      %th.text-white Tests
      %th.text-white Mortality Rate
  %tbody
    - countries_corona_data.each do |item|
      %tr
        %td
          .row
            .col-12.d-flex.flex-row.align-items-center
              %h6= flag(item.region_data.alpha2)
              .pl-2
                .text-left= item.region_data.formatted_country_name_with_link
        %td.d-none.country-for-sort= item.region_data.name
        %td.d-none.country-alpha2-for-search= item.region_data.alpha2
        %td.d-none.country-alpha3-for-search= item.region_data.alpha3
        %td.d-none.country-unofficial-names-for-search= item.region_data.formatted_unofficial_names
        %td.text-info= item.stats.readable_confirmed
        %td.bg-info= item.stats.readable_new_confirmed
        %td.text-danger= item.stats.readable_deaths
        %td.bg-danger= item.stats.readable_new_deaths
        %td.text-success= item.stats.readable_recovered
        %td.text-warning= item.stats.readable_critical
        %td.text-primary= item.stats.readable_tests
        %td.text-white= item.stats.readable_mortality_rate

:javascript
  $(document).ready(function() {
    $('#countries-data-table').DataTable({
            bInfo: false,
            order: [[5, "desc"]],
            paging: false,
            scrollCollapse: true,
            scrollY: "40vh",
            scrollX: true,
    });
  });
