%table#countries-data-table.display.table.table-hover.table-dark.table-striped
  %thead
    %tr
      %th.text-white Country / Other
      %th.d-none.country-for-sort
      %th.d-none.country-alpha2-for-search
      %th.d-none.country-alpha3-for-search
      %th.text-white Confirmed
      %th.text-white New Cases
      %th.text-white Deaths
      %th.text-white New Deaths
      %th.text-white Recovered
      %th.text-white Critical
      %th.text-white Mortality Rate
  %tbody
    - data.each do |corona_data_item|
      %tr
        %td
          .row
            .col-12.d-flex.flex-row.align-items-center
              %h5= flag(corona_data_item.region_data.alpha2)
              .pl-2
                .text-left= corona_data_item.region_data.name
        %td.d-none.country-for-sort= corona_data_item.region_data.name
        %td.d-none.country-alpha2-for-search= corona_data_item.region_data.alpha2
        %td.d-none.country-alpha3-for-search= corona_data_item.region_data.alpha3
        %td.text-white= corona_data_item.stats.confirmed
        %td.text-info= corona_data_item.stats.new_confirmed
        %td.text-white= corona_data_item.stats.deaths
        %td.text-danger= corona_data_item.stats.new_deaths
        %td.text-white= corona_data_item.stats.recovered
        %td.text-white= corona_data_item.stats.critical
        %td.text-white= corona_data_item.stats.mortality_rate

:javascript
  $(document).ready(function() {
    Table.initTable();
  });
