.container-fluid
  .mb-3
    = render_async corona_countries_list_path(code: params[:code]) do
      = render partial: "loading_card", locals: { header: "Countries" }

  .mb-3
    .d-none.d-sm-block
      = render partial: "top_stats", locals: { stats: @corona_data.stats }
    .d-sm-none
      = render partial: "top_stats_mobile", locals: { stats: @corona_data.stats }

  - if @corona_data.region_data.state_stats?
    = render_async corona_state_stats_path(country_code: @corona_data.region_data.alpha2) do
      .row.mb-3
        .col-md-12.col-xl-7
          = render partial: "loading_card", locals: { header: "State or Province Stats" }
        .col-md-12.col-xl-5.mb-3
          = render partial: "loading_card", locals: { header: "Map of Cases" }

  .row.mb-3
    .col-xs-12.col-sm-12.col-lg-4
      .card.mb-2
        .card-header
          Rate Distribution
        .card-body
          = render partial: "rate_distribution", locals: { chart_data: @corona_data.stats.pie_chart_data }

    .col-xs-12.col-sm-12.col-lg-8
      = render_async corona_country_time_series_path(code: params[:code]) do
        .row
          .col.mb-3
            = render partial: "loading_card", locals: { header: "Time Series" }
          .col.mb-3
            = render partial: "loading_card", locals: { header: "Mortality vs Recovery Rate" }
