.container-fluid
  -# = render partial: "corona/countries_dropdown", locals: { countries_for_select: @countries.for_select }

  .d-none.d-sm-block
    = render partial: "top_stats", locals: { stats: @corona_data.stats }
  .d-sm-none.mb-3
    = render partial: "top_stats_mobile", locals: { stats: @corona_data.stats }

  .row
    .col-md-12.col-lg-7
      = render_async corona_countries_stats_path

    .col-md-12.col-lg-5
      = render_async corona_global_time_series_path

      %div
        .card.mb-2
          .card-header
            Rate Distribution
          .card-body
            = render partial: "rate_distribution", locals: { chart_data: @corona_data.stats.pie_chart_data }
